a:link { color: #DEE5E5; }

a:visited { color: #DEE5E5; }

a:hover { color: #FF3366; }

body {
    background-color: #30323D;
    margin-left: 75px;
    margin-right: 75px;
    font-family: "Comfortaa";
    color: #DEE5E5;
}

nav {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
}

h1, h2 {
    text-align: center;
}

h4 {
    display: block;
}

h1, h2, h3, h4 {
    color: #DEE5E5
}